.hero-image {
    /* background-image: url("her.png"); The image used */
    background-color: #fcfcfc; /*Used if the image is unavailable*/
    height: 100vh; 
    width: 100vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.topbar {
    display: flex;
    height: 50px;
}

.lefttopbar {
    display: flex;
    flex: 80%;
    align-items: left;
}

.righttopbar {
    display: flex;
    flex: 20%;
    align-items: right;
}

.logoText {
    margin-left: 10%;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color : #0077b6;
}

.join {
    margin-top: 20px;
    margin-right: 7%;
    font-size: 18px;
    font-weight: bold;
    color: #6b705c;
    cursor: pointer;
    text-decoration: none;
    
}

.signIn {
    margin-top: 15px;
    margin-right: 20%;
    font-size: 18px;
    font-weight: bold;
    color: #023e8a;
    padding: 5px 15px ;
    border-radius: 25px;
    border: solid 1px #023e8a;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    
}

.welcomeText {
    margin-top: 10%;
    margin-left: 8%;
    font-size: 6.4em;
    font-weight: 400;
    color : #0077b6;
}

.footer-text {
    margin-top: 20%;
    margin-left: 8%;
    font-size: medium;
    margin-bottom: 20%;

}

